# Database:
DATABASE_URL=postgresql://user:password@localhost:5432/mydb

# Application configuration:
PORT=3000
NODE_ENV=development

# Owner credentials for testing (only for development):
OWNER_NAME=Name Surname
OWNER_EMAIL=example@email.com
OWNER_PASSWORD=password

# JWT Configuration:
JWT_SECRET=your-super-secret-jwt-key-minimum-32-characters
SALT_ROUNDS=10
ACCESS_SECRET=your-access-token-secret-key
REFRESH_SECRET=your-refresh-token-secret-key

# CORS:
FRONTEND_URL=http://localhost:3000

# Google OAuth cedentials:
GOOGLE_CLIENT_ID=CLient_ID
GOOGLE_CLIENT_SECRET=Client_Secret_Key
CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

# Email configuration for password reset:
GMAIL_USER=someone@example.com
GMAIL_APP_PASSWORD=app_password

# crons cleanup call:
CLEANUP_SCHEDULE=time

# Backblaze Credentials
B2_ENDPOINT=https://example_endpoint.com
B2_REGION=region
B2_KEY_ID=b2_key_id_example
B2_APP_KEY=b2_app_key_example
B2_BUCKET_NAME=bucket_name

# Development base URL
IMAGES_BASE_URL=https://cdn.example.com/media

# Shipping System Config
SHIPPING_PROVIDER=courier_name
SHIPPO_API_TOKEN=shippo_test_token_example
# Warehouse/Sender Address Details
SENDER_NAME="My Warehouse"
SENDER_STREET="123, Main Street"
SENDER_CITY="City"
SENDER_STATE="State or Province alphabetic code (e.g., CA for California)"
SENDER_POSTAL_CODE="Postal Code"
SENDER_COUNTRY="Country Code (e.g., US for United States)"
SENDER_PHONE="+1234567890"
SENDER_EMAIL="warehouse@example.com"

# Stripe API Keys
STRIPE_SECRET_KEY=sk_test_stripe_secret_key_example
STRIPE_PUBLISHABLE_KEY=pk_test_stripe_publishable_key_example
STRIPE_WEBHOOK_SECRET= whsec_stripe_webhook_secret_example